{% extends 'rest_app/base.html'%}


{% block content %}


  <form action='/auth/login/' method='post'>
    {% csrf_token %}
    <label for='username'>User name</label>
    <input type='text' name='username' id='username'>
    <label for='password'>Password</label>
    <input type='password' name='password' id='password'>
    {% if login_error %}
        <label class='error'>{{ login_error }}</label>
    {% endif %}
    <input class='button' type='submit' value='Увійти'>
    <div class='label round secondary'><a href='/auth/register/'>Register</a></div>
  </form>

{% endblock %}